# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Data (local only)
data/

# Outputs
visualizacoes/
